<!DOCTYPE html>
<html>
<head>
    <title>404</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <div class="main-content">
        {{>header}}
        <p>Page not found</p>
    </div>
    

    {{!-- <img src="/images/me.JPG"> --}}
    {{>footer}}
</body>
</html>