<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>About me !</p>
        <img class="portrait" src="/images/me.JPG">
    </div>
    
    
    
    {{>footer}}
</body>
</html>